.input-box {
    width: 58px;
    height: 58px;
    border: 2px gray solid;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.segmented-text-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    width: 350px;
}